
    


h1{color:white;
   position: relative;
   text-align:center ;
   top: 20%;
}
p{color:white;}

h4{color:white}

li{color:white}

button{background-color: lawngreen;}


strong{font-size: xx-large;
       color: white;

}

.test-box{color: white;
          text-align: center;
         
}        